<div class="container">
  <div class="row">
    <h1>Welcome <%= current_user.first_name %>!</h1>
    <hr>
    <%= link_to 'Go To Profile', profile_path %><br><br>
    <%= link_to 'Find Books', books_path %>
  </div>
</div>